/* General Page Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.site-heading {
  font-size: 3rem;
  color: #05ad78;
  font-family: cursive;
}

.navbar {
  margin-top: 20px;
}

.navbar button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: inherit; 
}

.navbar button:hover {
  background-color: #777;
}

/* Active tab styling */
.navbar button.active {
  background-color: #464545;
  color: white;
  font-weight: bold;
}


/* Overview Section */
.overview-section {
  background: url(./images/WhatsApp\ Image\ 2024-10-12\ at\ 18.31.05_4059a30f.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
  position: relative;
}

.overlay-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  line-height: 50px; 
  font-size: 5rem;
}

.overlay-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.overlay-text p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.highlight{
  font-weight: bolder;
}

/* Mission Section */
.mission-section {
  text-align: center;
  padding: 50px;
  background-color: #333;
}

.mission-heading {
  font-size: 2.5rem;
}

.mission-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.mission-highlight1 {
  color: #05ad78; 
}
.mission-highlight2 {
  color: #ec9508; 
}
.mission-image {
  /* background-image: url(../images/div2image.jpg); */
  width: 40%;
  margin-right: 20px;
}

.mission-content p {
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgba(128, 149, 149, 0.883);
}

/* Applications Section */
.applications-section {
  text-align: center; /* Center align text in the section */
  padding: 50px;
  background-image: url(./images/applicationBackground_image.jpg); /* Same background color as mission section */
}

.applications-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}

.applications-image-container {
  width: 40%; 
  margin-right: 20px; 
}

.applications-image {
  width: 100%;
  height: auto; 
}

.applications-heading-text {
  width: 50%; 
  font-size: 1.3rem;
}

.applications-heading {
  font-size: 2.5rem; 
  color: #0d0d0d; 
}

.applications-text {
  margin-top: 20px;
  font-size: 3rem; 
  line-height: 1.8;
  color: rgba(122, 139, 139, 0.883); 
}


/* Footer Section */
.footer-section {
  background: url(./images/footerbackgroundimage.png) no-repeat center center;
  background-size: cover;
  padding: 50px 20px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  max-width: 1200px;
  margin: 0 auto; 
  height: 350px;
  color: #0d0d0d;
}

.footer-left {
  margin-left: 40px; 
  width: 45%; 
}

.footer-right {
  width: 45%; 
}

.footer-left h3 {
  padding: 25px;
  text-align: center;
}

.footer-left p {
  margin: 5px 0;
}

.footer-right h3 {
  text-align: left; 
}

.footer-right ul { 
  padding: 25px; 
}

.footer-right li {
  margin: 5px 0;
  line-height: 1.8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: center;
  }

  .navbar button {
    width: 90%; 
    max-width: 300px; 
    text-align: center;
  }

  .site-heading {
    font-size: 2.5rem; 
  }
  .overlay-text {
    font-size: 3rem;
    line-height: 1.5;
    width: 90%;
  }

  .overlay-text h2 {
    font-size: 2rem;
  }

  .overlay-text p {
    font-size: 1.2rem;
  }

  .mission-content {
    flex-direction: column; 
    text-align: center; 
  }

  .mission-image {
    width: 80%; 
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .mission-content p {
    width: 90%; 
  }

  .mission-heading {
    font-size: 2rem; 
  }

  .applications-content {
    flex-direction: column; 
    text-align: center;
  }

  .applications-image-container {
    width: 80%; 
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .applications-heading-text {
    width: 90%; 
  }

  .applications-heading {
    font-size: 2rem; 
  }

  .applications-text {
    font-size: 1rem; 
  }

  .footer-content {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
  }

  .footer-left, .footer-right {
    width: 90%; 
    text-align: center; 
    margin-bottom: 20px;
  }

  .footer-right h3, .footer-left h3 {
    text-align: center; 
  }
}

@media (max-width: 480px) {
  .site-heading {
    font-size: 2rem;
  }

  .navbar button {
    padding: 8px 15px; 
    font-size: 0.9rem; 
  }

  .site-heading {
    font-size: 2rem; 
  }
  .mission-heading {
    font-size: 1.8rem; 
  }

  .mission-content p {
    font-size: 1rem; 
  }

  .mission-section {
    padding: 30px; 
  }

  .overlay-text {
    font-size: 2.5rem;
  }
  .applications-heading {
    font-size: 1.8rem; /
  }

  .applications-text {
    font-size: 0.9rem; 
  }

  .applications-section {
    padding: 30px;
  }
  .footer-section {
    padding: 30px 10px;
  }

  .footer-left h3, .footer-right h3 {
    font-size: 1.2rem; 
  }

  .footer-right li {
    font-size: 0.9rem; 
  }

  .footer-left p {
    font-size: 0.9rem; 
  }
}
